/* child selector */
/* div>p{
    color: blueviolet;
} */

/* descendent selector */
/* 
div p{
    color: aqua;
} */

/* adjescent sibling selector */
/* 
div+p{
    color: red;
} */

/* genral sibling selector */
/* div+p{
    color: gold;
} */
/* h2 ~ p {
  color: purple;
} */
@font-face{
    font-family: "myfont";
    src: url("./font/Badeen_Display/BadeenDisplay-Regular.ttf") format("truetype");
}
body{
   
     background-image: url(./pexels-padrinan-255379.jpg),url("./pexels-padrinan-255379.jpg");
     background-position: center;
     background-repeat: no-repeat;
     background-size: cover;
     opacity: 1;
     background-attachment: fixed;
}
div.parent{
     font-family: myfont;
    color:rgb(rgb(221, 74, 74), rgb(178, 211, 178), rgb(98, 98, 151));
    /* font-family: 'Courier New', Courier, monospace; */
    opacity: 1;
    
}
 
div {
  font-family: myFirstFont;
}
 



a{
    
   /* cursor: alias; */
   /* cursor: all-scroll; */
   /* cursor: pointer; */
   /* cursor: auto; */
   /* cursor: cell; */
   /* cursor: col-resize; */
   /* cursor: context-menu; */
   /* cursor: copy; */
   /* cursor: crosshair; */
   /* cursor: default; */
   /* cursor: e-resize; */
   /* cursor: ew-resize; */
   /* cursor: grab; */
   /* cursor: zoom-in; */
   /* cursor: text; */
   /* cursor: help; */
   cursor: url("./16-10-43-442_512.webp");

}

img{
    display: block;
    margin: 0 auto;
}

/* 
 p:nth-type-child(1){
    color: brown;
     
} */

div.n p:nth-child(4){
    color: green;
    font-size: 40px;
}
p:nth-of-type(5){
    color: aquamarine;
    
}

div.display p{
      display: none;
    visibility: hidden;
    
}

.main{
    width: 500px;
    height: 500px;
    background-color: black;
    position: relative;
 /* opacity: 0.99; */
    
}

 .box-one{
    width: 100px;
    height: 100px;
    background-color: aqua;
    position: absolute;
  transform: scale(50px, 20px);
}

 .box-two{
    width: 100px;
    height: 100px;
    background-color: rgb(45, 15, 216);
    position: absolute; 
    z-index:9999;
   
}

/* 
 .box-three{
    width: 100px;
    height: 100px;
    background-color: rgb(216, 96, 17); */
    /* position: absolute; */
    /* z-index: 2; */
/* } */




















